:root {
  --border-color: #eeeeee;

  --bg-color: #ffffff;
  --message-own-bg-color: #eceff1;
  --message-own-color: #1a1a1a;
  --message-users-bg-color: #42b0f8;
  --message-users-color: #ffffff;
}

body {
  background-image: url('./shared/assets/bg-img.jpg');
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;

  font-family: 'Source Sans Pro', sans-serif;
}
