@-webkit-keyframes ldio-gucocuficju {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes ldio-gucocuficju {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.ldio-gucocuficju div {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 4px solid gray;
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-gucocuficju div {
  -webkit-animation: ldio-gucocuficju 1s linear infinite;
  animation: ldio-gucocuficju 1s linear infinite;
  top: 100px;
  left: 100px;
}
.loadingio-spinner-rolling-r6ivjje215 {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: transparent;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  margin: auto;
}
.ldio-gucocuficju {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-gucocuficju div {
  box-sizing: content-box;
}
