.users-container {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}
.users-container::-webkit-scrollbar {
  width: 5px;
  max-height: 10px;
}

.users-container::-webkit-scrollbar-track {
  background: #f6f6f7;
}

.users-container::-webkit-scrollbar-thumb {
  background: #e3e5e8;
}

.users-container::-webkit-scrollbar-thumb:hover {
  background: #ccced0;
}
